{{#with headerFirst}}
    <header class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">{{firstTitle}}<span>{{secondTitle}}</span>
                </h1>
                <div class="call-to-download">
                    <a class="btn link-download"
                       href="https://github.com/devtechk/easy-startup-gulp-browsersync-sass">{{download}}</a>
                </div>
                <div class="gitstar">
                    <iframe src="https://ghbtns.com/github-btn.html?user=devtechk&repo=easy-startup-gulp-browsersync-sass&type=star&count=false&size=large"
                            frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </div>
            </div>
        </div>
    </header>
{{/with}}